# fly.toml app configuration file generated for jlcsearch on 2024-11-03T15:35:53-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'jlcsearch'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3065
  force_https = false
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  max_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    path = "/health"
    protocol = "http"
    tls_skip_verify = true
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 2
